<html>
<head>
<title>forgot password</title>
</head>
<body>
<form action="/forgotpassword" method="post">
<input type="email" placeholder="enter email" name="name">
<input type="submit" value="submit">
</form>
 
</body>
</html>